
@{
    ViewBag.Title = "Profile";
}

<h2>Domenico Giannone</h2>


<div class="container">
    <div class="row ">

        <div class="col-md-4 info_profile">

            <div>
                nome
            </div>

            <div>
                email
            </div>

        </div>

        <div class="col-md-8">

            <div class="col-md-3">
                Attività scadute
            </div>

            <div class="col-md-3">
                modifica password
            </div>

            <div class="col-md-3">
                modifica email
            </div>

            <div class="col-md-3">
                s
            </div>

        </div>

    </div>

    <br />
    <div class="row ">

        <div class="col-md-4 info_profile">

            <div>
                nome
            </div>

            <div>
                email
            </div>

        </div>

        <div class="col-md-8">

            <div class="col-md-3">
                Attività scadute
            </div>

            <div class="col-md-3">
                modifica password
            </div>

            <div class="col-md-3">
                modifica email
            </div>

            <div class="col-md-3">
                s
            </div>

        </div>

    </div>


</div>

<br />

<a href="@Url.Action("Index","Activity")" class="btn btn-primary">Indietro</a>