@{
    ViewBag.Title = "Home Page";
}

<div class="row justify_content ">

    
    <div class="col-md-4 loginBox flex_container " style="flex-direction:column; gap:10px;">
        
        <form class="flex_container login " style="flex-direction:column; gap:10px; ">

            <h2 align="left">Accedi</h2>
            <input class="inpt_login" type="text" name="name" value="" placeholder="Inserisci la tua email..." />
            <input class="inpt_login"   type="text" name="name" value="" placeholder="Inserisci la tua password..." />

            <button> Accedi </button>
            <div>
                <input type="checkbox" name="name" value="" />
                <label>Ricorca le credenziali</label>
            </div>

            <div class="flex_container " style="flex-direction:column; gap:10px;">
                <a href="@Url.Action("ForgotPassword","Account")">Hai dimenticato la password?</a>
                <p>Proseguendo con Google, Apple o la tua email, accetti i Termini del servizio e l'informativa sulla privacy di Todoist.</p>
                <hr />
                <p>Non hai ancora un account?<a href="@Url.Action("Registrati","Account")"> Crea un account</a></p>
            </div>
        </form>

    </div>

    @* immagine *@
    <div class="col-md-8 flex_container align_center justify_content">
        <img src="https://i.etsystatic.com/49462062/r/il/c36c6e/5822883311/il_fullxfull.5822883311_3wdq.jpg" width="650" height="550" alt="Alternate Text" />
        @*<h2 class=" flex_container align_center justify_content intro">TODOLIFE</h2>*@
    
    
    </div>


</div>


<script>

    $("#document").ready(function () {
        console.log("ciao");
    })



</script>
        
