@{
    ViewBag.Title = "Home Page";

    
}

<div class="row container">

    <div class="col-md-4  flex_container " style="flex-direction:column; gap:10px;">

        <form id="myForm" class="flex_container login " style="flex-direction:column; gap:10px; ">

            <h2 align="left">Accedi</h2>
            <input class="inpt_login" type="text" name="username" value="" placeholder="Inserisci la tua email..." required />
            <input class="inpt_login" type="text" name="password" value="" placeholder="Inserisci la tua password..." required />

            <label>Cosa vuoi usare? Selezionalo!</label>
            <select name="select_input"" id="select_input">
                <option value="TODOLIST">TODOLIST</option>
                <option value="NOTE">NOTES</option>
                <option value="ASSEMBLEE">ASSEMBELEE</option>
            </select>

            <a class="btn btn-primary" onclick="login()"> Accedi </a>

            <div>
                <input type="checkbox" name="salva_credenziali" value="true" />
                <label>Ricorca le credenziali</label>
            </div>

            <div class="flex_container " style="flex-direction:column; gap:10px;">
                <a href="@Url.Action("ForgotPassword","Account")">Hai dimenticato la password?</a>
                <p>Proseguendo con Google, Apple o la tua email, accetti i Termini del servizio e l'informativa sulla privacy di Todoist.</p>
                <hr />
                <p>Non hai ancora un account?<a href="@Url.Action("Registrati","Account")"> Crea un account</a></p>
            </div>
        </form>

    </div>

    @* immagine *@
    <div class="col-md-8 flex_container align_center justify_content">
        <img src="https://i.etsystatic.com/49462062/r/il/c36c6e/5822883311/il_fullxfull.5822883311_3wdq.jpg" width="650" height="550" alt="Alternate Text" />
        @*<h2 class=" flex_container align_center justify_content intro">TODOLIFE</h2>*@


    </div>


</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>

    $("#document").ready(function () {

        var data = $("#myForm").serialize();
        data += '&grant_type=password';
        console.log(data)
        //$("#select_input").change(function () {
        //    var valore = $('#select_input').val();
        //    var data = $("#myForm").serialize();
        //    console.log("data" + data);
        //    console.log(valore);
         
        //})

    });

    var login = function(){

        //non passo nulla alla funzione perchè lui accede direttamente al form e prende i dati, serializzandoli
        var data = $("#myForm").serialize();
        data += '&grant_type=password';

        var valore = $('#select_input').val();
        console.log(valore);
        //var check = $('input[name="salva_credenziali"]:checked').val();
        //data.checkbox = check;

        if (valore == "TODOLIST") {
            $.ajax({
                type: "POST",
                url: 'https://localhost:44377/token',
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function (response) {
                    if (response) {
                        alert("Benveuto")
                        localStorage.setItem('key', response.access_token);
                        window.location.replace("https://localhost:44377/Activity/index");

                    } else {
                        alert("Errore, credenziali errate");
                    }
                }
            });
        } else if (valore == "NOTE") {
            debugger
            $.ajax({
                type: "POST",
                url: 'https://localhost:44377/token',
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function (response) {
                    if (response) {
                        alert("Benveuto" + response)
                        localStorage.setItem('key', response.access_token);
                        window.location.replace("https://localhost:44377/Notes/index");

                    } else {
                        alert("Errore, credenziali errate");
                    }
                }
            });
        } else {

            $.ajax({
                type: "POST",
                url: 'https://localhost:44377/token',
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function (response) {
                    if (response) {
                        alert("Benveuto" + response)
                        localStorage.setItem('key', response.access_token);
                        window.location.replace("https://localhost:44377/Assemblee/index");

                    } else {
                        alert("Errore, credenziali errate");
                    }
                }
            });

        }
 
    }

</script>

