body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flex_container{
    display:flex;
}

.align_center{
    align-items:center;
}

.justify_content{
    justify-content:center;
}

.login {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-sizing: border-box;
}

.login button {
    height: 50px;
    outline: none;
    list-style: none;
    border-radius: 5px;
}

.registration {
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}



.registration .btnC {
    display:flex;
    justify-content:end;
}

.inpt_login {
    width: 100%;
    max-width: none;
    border: 0.5px grey solid;
    box-sizing: border-box;
    border-radius: 5px;
    list-style: none;
    height: 50px;
    outline: none;
    font-family: inherit;
    font-size: var(--reactist-font-size-body);
    margin: 0;
    padding: 5px;
}
