body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flex_container{
    display:flex;
}

.align_center{
    align-items:center;
}

.justify_content{
    justify-content:center;
}

.login{
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-sizing: border-box;
}

.login button {
    height: 50px;
    outline: none;
    list-style: none;
    border-radius: 5px;
    border: none;
}

.registration {
    padding: 10px;
    width: 40%;
}

.registration .btnC {

    margin-top:20px;
    flex-direction:column;
    gap:5px;
}

.registration .btnC a{

    font-size:10px;
}

.registration .btnC button {
    outline: none;
    max-width:none;
    list-style: none;
    border:none;
    height:50px;
    border-radius: 5px;
   
}

    .registration .btnC button:hover {
        background-color: #77797A;
        color: white;
    }

.inpt_login {
    width: 100%;
    max-width: none;
    border: 0.5px grey solid;
    box-sizing: border-box;
    border-radius: 5px;
    list-style: none;
    height: 50px;
    outline: none;
    font-family: inherit;
    font-size: var(--reactist-font-size-body);
    margin: 0;
    padding: 5px;
}


.inpt_create {
    width: 100%;
    max-width: none;
    border: 0.5px grey solid;
    box-sizing: border-box;
    border-radius: 5px;
    list-style: none;
    height: 50px;
    outline: none;
    font-family: inherit;
    font-size: var(--reactist-font-size-body);
    margin: 0;
    padding: 5px;
}


.list-nav{
    gap:50px;
    width:90%;
    list-style:none;
}

.intro{
    gap:20px;
}

.icon_colum{
    flex-direction:column;
}